.navigation
  #search-wrapper
    %i{:class => "fa fa-search fa-1g", :style => "color:white"}
    = form_tag(services_path, :method => "get", class: "navbar-form", id: "search-form") do
      = text_field_tag :search, params[:search], placeholder: "Busca", :class => "search-box"
  .navigation-list-wrapper      
    %ul.navigation-list
      %li= link_to 'Home', root_url
      %li= link_to 'Serviços', services_path
      %li= link_to 'Estabelecimentos', companies_path
      = render 'devise/menu/registration_items'
      = render 'devise/menu/login_items'

