.navigation
  %ul.navigation-list
    %li= link_to 'Home', root_url
    %li= link_to 'Serviços', services_path
    %li= link_to 'Estabelecimentos', new_category_url
    = render 'devise/menu/registration_items'
    = render 'devise/menu/login_items'
