%head
  %h1{:class => "title"} Nossa Vila
    
%body
  %div{:id => "container"}
    %nav
      %table
        %tbody
          - @categories.each do |cat|
            %tr
              %td{:class => "button"}= link_to "#{cat}", services_path
              =#ai passar como parametro a categoria a ser buscada
                
    %div{:class => "servicescontainer"}
      - @services.each do |service| 
        %div{:class => "servicecard"}
          %h2{:class => "cardtitle"}= service.title
          %p{:class => "carddescription"}= service.description
          %h3{:class => "cardowner"}= service.user
                
                