#services_container
  #services_table
    #services_filter_nav
      .nav-box
        .nav-box-header
          %h3.box-header-h3 Filtragem de Buscas
        .nav-box-body
          .nav-refiner-header
            %h4.nav-box-h4 Categorias
          = form_tag services_path, :method => :get do
            - @navcategories.each do |cat|
              .nav-refiner-link
                = check_box(:service, :categories, {:multiple => true}, cat.name, nil)
                = label :service, :category, cat.name.capitalize
                - if(cat.subcategories.any?)
                  .expandible.expand{:id => "#{alpha_numeric_only(cat.name)}triangle"}
                    #triangle.triangle
                  .btnnavchilds{:id => "#{alpha_numeric_only(cat.name)}", :style => "display: none"}
                    - cat.subcategories.each do |subcat|    
                      .nav-refiner-sublink
                        = check_box(:service, :categories, {:multiple => true}, subcat.name, nil)
                        = label :service, :category, subcat.name
            = submit_tag "Buscar", :class => "clean-gray"
                
    #services_tab
      .services-box
        .services-box-header
          .services-box-header-row
            .services-box-title
              %h3.services-box-title-h3 Serviços
            .services-box-button
              .services-button
                // %a{:href => new_service_path}
                %i{:class => "fa fa-plus"}
                Criar Serviço 
    
        %br
        - @services.each do |service| 
          %a{:href => service_path(service)}
            .servicecard
              %h2{:class => "cardtitle"}= service.title
              %p{:class => "carddescription"}= service.description
              %a{:href => user_path(service.user)} 
                %h4{:class => "cardowner"}= service.user.first_name
              // %h4{:class => "cardowner", :href => user_path(current_user)}= service.user.first_name