#container
  .navcontainer
    %nav
      = form_tag services_path, :method => :get do
        .searchbtn
          = submit_tag "Buscar"
        %table
          %tbody
            - @navcategories.each do |cat|
              %tr
                %td{:class => "btnnav", :id => "#{alpha_numeric_only(cat.name)}"}
                  = label :service, :category, cat.name.capitalize
                  = check_box(:service, :categories, {:multiple => true, :class => "categorycheckbox"}, cat.name, nil)
                  - if(cat.subcategories.any?)
                    .expandible.expand{:id => "#{alpha_numeric_only(cat.name)}triangle"}
                      .triangle
                    .btnnavchilds{:id => "#{alpha_numeric_only(cat.name)}", :style => "display: none"}
                      %table
                        %tbody
                          - cat.subcategories.each do |subcat|    
                            %tr
                              %td{:class => "btnnavchild", :id => "#{alpha_numeric_only(subcat.name)}"}
                                = label :service, :category, subcat.name
                                = check_box(:service, :categories, {:multiple => true, :class => "categorycheckbox"}, subcat.name, nil)
              
  .servicescontainer
    %a{:href => new_service_path, :class => "link"}
      .btn
        %i{:class => "fa fa-plus fa-1g", :style => "color:white"}
          Criar Serviço 

    %br
    - @services.each do |service| 
      %a{:href => service_path(service)}
        .servicecard
          %h2{:class => "cardtitle"}= service.title
          %p{:class => "carddescription"}= service.description
          %h4{:class => "cardowner"}= service.user.first_name
