#services_container
  #services_table
    #services_filter_nav
      .box
        .box-header
          %h3.box-header-h3 Filtragem de Buscas
        .box-body
          %ul
            .nav-refiner-header
              %h4.box-h4 Categorias
            = form_tag services_path, :method => :get do
              - @navcategories.each do |cat|
                %li
                  .box-row
                    = check_box(:service, :categories, {:multiple => true}, cat.name, nil)
                    = label :service, :category, cat.name.capitalize
                    - if(cat.subcategories.any?)
                      .expandible.expand{:id => "#{alpha_numeric_only(cat.name)}triangle"}
                        #triangle.triangle
                      .btnnavchilds{:id => "#{alpha_numeric_only(cat.name)}", :style => "display: none"}
                        %ul.refiner-link
                          - cat.subcategories.each do |subcat|    
                            %li
                              = check_box(:service, :categories, {:multiple => true}, subcat.name, nil)
                              = label :service, :category, subcat.name
            .box-button
              = submit_tag "Buscar", :class => "box-button"
                
    #services_tab
      %a{:href => new_service_path, :class => "link"}
        .btn
          %i{:class => "fa fa-plus fa-1g", :style => "color:white"}
            Criar Serviço 
  
      %br
      - @services.each do |service| 
        %a{:href => service_path(service)}
          .servicecard
            %h2{:class => "cardtitle"}= service.title
            %p{:class => "carddescription"}= service.description
            %a{:href => user_path(service.user)} 
              %h4{:class => "cardowner"}= service.user.first_name
            // %h4{:class => "cardowner", :href => user_path(current_user)}= service.user.first_name