#container
  .navcontainer
    %nav
      = form_tag services_path, :method => :get do
        .btn.searchbtn
          = submit_tag "Buscar"
        %table
          %tbody
            - @navcategories.each do |cat|
              %tr
                %td{:class => "btnnav", :id => "#{cat.name}"}
                  = label :service, :category, cat.name
                  = check_box(:service, :categories, {:multiple => true, :class => "categorycheckbox"}, cat.name, nil)
                  .btnnavchilds{:id => "#{cat.name}", :style => "display: none"}
                    %table
                      %tbody
                        - cat.subcategories.each do |subcat|    
                          %tr
                            %td{:class => "btnnavchild"}
                              = label :service, :category, subcat.name
                              = check_box(:service, :categories, {:multiple => true, :class => "categorycheckbox"}, subcat.name, nil)
              
  .servicescontainer
    .btn
      %a{:href => new_service_path, :class => "link"}
        %h3 Criar novo Serviço
    %br
    - @services.each do |service| 
      %a{:href => service_path(service)}
        .servicecard
          %h2{:class => "cardtitle"}= service.title
          %p{:class => "carddescription"}= service.description
          %h4{:class => "cardowner"}= service.user.first_name
