-if(flash[:partial])
  = render partial: "shared/flashes/#{flash[:partial]}"
.center.container
  .servicecard
    %h2{:class => "cardtitle"}= @service.title
    %p{:class => "carddescription"}= @service.description
    
    %script(src  = "https://maps.googleapis.com/maps/api/js")
    - address = @service.address
    %img{:src => "https://maps.googleapis.com/maps/api/staticmap?center=#{address}&zoom=15&size=200x200&markers=#{address}&sensor=false", :class => "map2"}
    %h3{:class => "cardowner"}= @service.user.first_name

  - if(current_user == @service.user && user_signed_in?)  
    = link_to 'Editar', edit_service_path(@service)
  = link_to 'Voltar', services_path
