#container
  .navcontainer
    %nav
      = form_tag companies_path, :method => :get do
        .searchbtn
          = submit_tag "Buscar"
        %table
          %tbody
            - @navcategories.each do |cat|
              %tr
                %td{:class => "btnnav", :id => "#{alpha_numeric_only(cat.name)}"}
                  = label :company, :category, cat.name.capitalize
                  = check_box(:company, :categories, {:multiple => true, :class => "categorycheckbox"}, cat.name, nil)
                  - if(cat.subcategories.any?)
                    .expandible.expand{:id => "#{alpha_numeric_only(cat.name)}triangle"}
                      #triangle.triangle
                    .btnnavchilds{:id => "#{alpha_numeric_only(cat.name)}", :style => "display: none"}
                      %table
                        %tbody
                          - cat.subcategories.each do |subcat|    
                            %tr
                              %td{:class => "btnnavchild", :id => "#{alpha_numeric_only(subcat.name)}"}
                                = label :company, :category, subcat.name
                                = check_box(:company, :categories, {:multiple => true, :class => "categorycheckbox"}, subcat.name, nil)
              
  .companiescontainer
    %a{:href => new_company_path, :class => "link"}
      .btn
        %i{:class => "fa fa-plus fa-1g", :style => "color:white"}
          Criar Estabelecimento 
         
  %br
    - @companies.each do |company| 
      %a{:href => company_path(company)}
        .companycard
          %h2{:class => "cardtitle"}= company.name
          %p{:class => "carddescription"}= company.description
          %a{:href => user_path(company.user)}
            %h4{:class => "cardowner"}= company.user.first_name
