-if(flash[:partial])
  = render partial: "shared/flashes/#{flash[:partial]}"
.center.container
  .companycard
    %h2{:class => "cardtitle"}= @company.name
    %p{:class => "carddescription"}= @company.description
    %h2{:class => "cardtitle"}= @company.address
    %script(src  = "https://maps.googleapis.com/maps/api/js")
    - address = @company.address
    %img{:src => "https://maps.googleapis.com/maps/api/staticmap?center=#{address}&zoom=15&size=200x200&markers=#{address}&sensor=false", :class => "map"}
    %h3{:class => "cardowner"}= @company.user.first_name
  
  - if(current_user == @company.user && user_signed_in?)  
    = link_to 'Editar', edit_company_path(@company)
  = link_to 'Voltar', companies_path
