%h1{:class => "title"} Nossa Vila
%h1{:class => "subtitle"} Novo Usuário

= form_tag users_path do

  = label :user, :first_name, "Nome"
  = text_field :user, 'first_name'
      
  = label :user, :last_name, "Sobrenome"
  = text_field :user, 'last_name'
      
  = label :user, :cep, "CEP"
  = text_field :user, 'cep'
      
  = label :user, :address, "Endereço"
  = text_field :user, 'address'
      
  = label :user, :housenumber, "Número pondéano"
  = text_field :user, 'housenumber'
      
  = label :user, :email, "E-mail"
  = text_field :user, 'email'
  
  = label :user, :password, "Senha"
  = password_field :user, 'password'
  
  = label :user, :confirm_password, "Confirme sua senha"
  = password_field :user, 'confirm_password'
    
  = submit_tag 'Criar usuário'