#services_container
  #services_table
    #services_filter_nav
      .nav-box
        .nav-box-header
          %h3.general-box-header-font Perfil de #{@user.first_name}
        .nav-box-body
          .profile-line
            .profilecell-left
              %h4 Nome:
            .profilecell-right
              %h4= @user.first_name
          .profile-line
            .profilecell-left
              %h4 Sobrenome:
            .profilecell-right
              %h4= @user.last_name
          .profile-line
            .profilecell-left
              %h4 Email:
            .profilecell-right
              %h4= @user.email
    #services_tab
      .services-box
        .services-box-header
          .services-box-header-row
            .services-box-title
              %h3.general-box-header-font 
                = link_to "Serviços", services_path
            .services-box-button
              .services-button
                %a{:href => new_service_path}
                  %i{:class => "fa fa-plus"}
                  Criar Serviço 
    
        .services-box-body
          - @services.each do |service| 
            .services-box-card
              .services-box-card-header
                .services-box-card-title
                  %a{:href => service_path(service)}
                    %h3= service.title
                .services-box-card-authorship
                  por 
                  %a{:href => user_path(service.user)}
                    = service.user.first_name
                  // %h4{:class => "cardowner", :href => user_path(current_user)}= service.user.first_name
              .services-box-card-description
                %p= service.description
              .services-box-card-know-more
                %p 
                  %a{:href => service_path(service)} Mais informações.