.container.center.card
  %h2.subtitle Entrar
  %hr
  %br/
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .formleft
      .inleft
        = f.label :email
        %br/
        = f.label :password, "Senha"
        %br/
        = f.label :remember_me, "Lembrar"
        %br/
        .actions.submitlink
          = f.submit "Entrar"
  
    .formright
      = f.email_field :email, autofocus: true
      = f.password_field :password, autocomplete: "off"
      %br/
      - if devise_mapping.rememberable?
        = f.check_box :remember_me
      %br/
      %br/
      %br/
      %br/
  = render "users/shared/links"
